* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins";
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    display: block;
}

/* Header */

.header {
    display: flex;
    padding: 1.5rem 4rem;
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 120, 11);
    color: white;
    font-weight: 600;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 6rem;
    border-radius: 50%;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-items-list {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0 1rem;
}

.nav-list-item {
    margin-left: 4rem;
    cursor: pointer;
}

.nav-list-item a {
    color: white;
}

.nav-list-item .bi-circle-fill {
    font-size: 1.3rem;
    /* border: 1px solid white; */
}

.green-dot {
    color: #00d432;
}

.red-dot {
    color: #e71d26;
}

.cart {
    font-size: 3.5rem;
}

/* Body */

.restaurant-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300, 1fr));
    gap: 2.5rem;
    padding: 0 5rem;
}

.restaurant-card {
    overflow: hidden;
    border-radius: 30px;
    font-size: 1.5rem;
    border: 1px solid rgb(211, 210, 210);

    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
    cursor: pointer;
    height: 100%;
}

.restaurant-card:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.card-image {
    aspect-ratio: 5 / 3;
}

.card-image img {
    width: 100%;
    height: 100%; /* fixed height for all cards */
    object-fit: cover;
}

.card-content {
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.card-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.restaurant-details {
    display: flex;
    margin-top: 2rem;
    font-size: 1.4rem;
    justify-content: space-between;
}

.food-rating {
    background-color: rgb(7, 158, 7);
    border-radius: 5px;
    padding: 0.1rem 0.5rem;
    color: white;
    font-weight: 600;
    width: fit-content;
}

/* Filter */

.filter {
    margin: 2.5rem 0;
    gap: 2rem;
}

.top-rated {
    padding: 1rem 2rem;
    background-color: transparent;
    outline: 0;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;

    transition: border 0.2s ease-in;
}

.top-rated:hover,
.top-rated:focus {
    border: 1px solid rgb(245, 120, 11);
}

/* Shimmer UI */

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    padding: 3.5rem;
}

.image {
    width: 300px;
    height: 200px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 2rem;
}

.heading {
    width: 300px;
    height: 15px;
    background-color: #f0f0f0;
    margin: 2rem;
    border-radius: 10px;
}
.content {
    width: 200px;
    height: 15px;
    background-color: #f0f0f0;
    margin: 2rem;
    border-radius: 10px;
}

/* Search Bar */

.search-container {
    display: flex;
    justify-content: space-between;
    border: 1.5px solid rgb(211, 210, 210);
    width: 60%;
    border-radius: 25px;
    overflow: hidden;
    padding: 1rem 2rem;

    transition: border 0.2s ease-in;
}

.search-container:hover,
.search-container:focus {
    border: 1.5px solid rgb(245, 120, 11);
}

.search-bar {
    border: 0;
    outline: 0;
    font-size: 1.9rem;
    width: 100%;
}

.search-btn {
    background-color: transparent;
    border: 0;
    font-size: 2.2rem;
    cursor: pointer;

    transition: color 0.25s ease-in;
}

.search-btn:hover {
    color: rgb(245, 120, 11);
}

.msg {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
}

/* Restaurant Menu */

.menu {
    padding: 0 25rem;
}

.menu-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem 10rem;
    background-color: rgba(245, 120, 11, 0.2);
    margin: 0 -25rem;
}

.res-image-container img {
    border-radius: 20px;
    aspect-ratio: 5 / 3;
    width: 80%;
    object-fit: cover;
    max-width: 350px;
}

.res-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 1rem;
    font-size: 1.5rem;
}

.res-info {
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
}

.menu-body {
    margin-top: 5rem;
    font-size: 1.7rem;
}

/* Menu Card */

.menu-card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    border-bottom: 1px solid rgb(229, 228, 228);
    padding-bottom: 1rem;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.item-info .food-rating {
    font-size: 1.3rem;
    margin: 0.5rem 0;
}

.item-desc {
    color: rgb(102, 101, 101);
}

.menu-card-actions {
    flex-direction: column;
    align-self: center;
}

.menu-card-actions img {
    border-radius: 20px;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.btn-add {
    background-color: white;
    color: green;
    font-weight: bold;
    border: 1px solid rgb(210, 210, 210);
    outline: none;
    padding: 1rem 4rem;
    border-radius: 10px;
    font-size: 1.7rem;
    transform: translateY(-50%);

    transition: box-shadow 0.2s ease-in;
}

.btn-add:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.btn-show-more {
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(102, 101, 101);
    font-weight: bold;
    font-size: 1.5rem;
}

/* About US */

.about {
    padding: 2rem;
    flex-direction: column;
    font-size: 1.5rem;
}

.about h1 {
    text-transform: uppercase;
    font-size: 3.5rem;
}

.about-content {
    display: flex;
    gap: 2rem;
}

/* User Card */

.user-card {
    flex-direction: column;
    margin-top: 2rem;
    background-color: rgba(245, 120, 11, 0.2);
    padding: 2.5rem;
    border-radius: 20px;
}

.increase-cnt-btn {
    background-color: rgb(245, 120, 11);
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: 1px black solid;
    border-radius: 13px;
    margin-top: 1rem;
}

.user-img {
    border-radius: 15px;
    width: 200px;
    margin-bottom: 1rem;
}
